<html lang="en">
    <%- include('./partials/head') %> 
<body>

    <% const name = 'mario' %>

    <%- include('./partials/nav') %>

    <div class="not-found content">
    <h2>OOPS, page not found :)</h2>
    </div>
</body>
</html>

