<html lang="en">
    <%- include('./partials/head') %> 
<body>

    <%- include('./partials/nav') %>

    <div class="blogs content">
    <h2>Leave something about...</h2>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>

