<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yong's Blog | <%= title %></title>
</head>
<body>

    <% const name = 'mario' %>

    <nav>
        <div class="site-title">
            <p><%= name %></p>
            <a href="/"><h1>Blog Yong</h1></a>
            <p>A Blog site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
        <% }) %>
    <% }else{ %>
        <p>There are no blogs to display...</p>
    <% } %>


    </div>
</body>
</html>

